<!--
  ~  Created by Sumeet Kumar on 4/11/20 11:37 AM
  ~  Copyright (c) 2020 . MI.BO All rights reserved.
  ~  Last modified 4/11/20 11:37 AM
  ~  Mibo Hexa - app
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="life.mibo.imagepicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />
</manifest>
