<!--
  ~  Created by Sumeet Kumar on 2/11/20 8:48 AM
  ~  Copyright (c) 2020 . MI.BO All rights reserved.
  ~  Last modified 2/11/20 8:48 AM
  ~  Mibo Hexa - Mibo Hexa
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="life.mibo.reflex">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_reflex">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

